<div class="hero-unit">
<h1>SavySwap</h1>
<p>
	Connecting you with your want list...
	<%= link_to "SavySwap" , "http://savyswap.co" %>
</p>
<p>
	<%= link_to "Sign Up Now!" , "#", class: "btn btn-primary btn-large" %>
</p>
</div>

