<% if user_signed_in? %>
	<h1>Start Adding Items To Your Wishlist!</h1>
<% else %>
<div class="hero-unit">
<h1>SavySwap</h1>
<p>
	Connecting you with your want list...
	<%= link_to "SavySwap" , "http://savyswap.co" %>
</p>
<p>
	<%= link_to "Sign Up Now!" , new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>
<% end %>
